<div class="container text">
  <p class="h3 my-3">Crear Candidate-Skill</p>
  <div class="my-3 p-3 bg-body rounded shadow-sm">
    <!--HRUSER POSITION-->
    <form>
      <!--SELECT FK Candidate-->
      <div class="form-group my-3">
        <label for="fkCandidate">Seleccionar Candidate:</label>
        <select
          class="form-control"
          id="fkCandidate"
          name="fkCandidate"
          [(ngModel)]="fkCandidate"
        >
          <option value="">ID1</option>
        </select>
      </div>
      <!--VALIDAR FK Candidate-->
      <div *ngIf="validarFkCandidate == true" class="row my-3">
        <div class="col-sm-2"></div>
        <div class="col-sm-10">
          <p class="h6 text-danger">Tienes que seleccionar a un Candidate.</p>
        </div>
      </div>
      <!--SELECT FK SKILL -->
      <div class="form-group my-3">
        <label for="validarFkSkill">Seleccionar Skill:</label>
        <select
          class="form-control"
          id="validarFkSkill"
          name="validarFkSkill"
          [(ngModel)]="validarFkSkill"
        >
          <option value="">ID1</option>
        </select>
      </div>
      <!--VALIDAR FK SKILL-->
      <div *ngIf="validarFkSkill == true" class="row my-3">
        <div class="col-sm-2"></div>
        <div class="col-sm-10">
          <p class="h6 text-danger">Tienes que seleccionar una Skill.</p>
        </div>
      </div>
      <!--TEXT NOTA-->
      <div class="form-group row mt-4">
        <label for="nota" class="col-sm-2 col-form-label align-self-center"
          >Nota:</label
        >
        <div class="col-sm-10 align-self-center">
          <input
            type="text"
            class="form-control"
            id="nota"
            name="nota"
            placeholder="Introduce la nota"
            [(ngModel)]="nota"
          />
        </div>
      </div>
      <!--VALIDAR NOTA-->
      <div *ngIf="validarNota == true" class="row my-3">
        <div class="col-sm-2"></div>
        <div class="col-sm-10">
          <p class="h6 text-danger">Introduce una Nota.</p>
        </div>
      </div>
      <!--TEXTAREA-->
      <div class="form-group row my-3">
        <label
          for="comentario"
          class="col-sm-2 col-form-label align-self-center"
          >Comentario</label
        >
        <div class="col-sm-10 align-self-center">
          <textarea
            class="form-control"
            id="comentario"
            name="comentario"
            rows="3"
            placeholder="Introduce tu mensaje."
            [(ngModel)]="comentario"
          ></textarea>
        </div>
      </div>
      <!--VALIDAR NOTA-->
      <div *ngIf="validarComentario == true" class="row my-3">
        <div class="col-sm-2"></div>
        <div class="col-sm-10">
          <p class="h6 text-danger">Introduce un comentario.</p>
        </div>
      </div>
      <!--BUTTON-->
      <button class="btn btn-primary mt-4" (click)="enviarFormulario()">
        Enviar
      </button>
    </form>
  </div>
</div>
