<app-form-skill></app-form-skill>

<main class="container text">
  <!--TODO: Añadir *ngIf !data-->
  <p class="h3 my-3 titulos">Lista Skill</p>
  <div class="my-3 p-3 bg-body rounded shadow-sm">
    <table class="table align-middle mb-0 bg-white">
      <thead class="bg-light" style="font-size: 19px;">
        <tr>
          <th>Id</th>
          <th>Nombre</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let skill of skills">
          <td>
            <p class="fw-normal mb-1">{{ skill.id_skill }}</p>
          </td>
          <td>
            <div class="d-flex align-items-center">
              <div class="ms-3">
                <p class="fw-bold mb-1">{{ skill.skill_name }}</p>
              </div>
            </div>
          </td>
          <td>
            <button type="button" class="btn btn-success">
              <i class="bx bx-pencil"></i>
            </button>
            <button
              type="button"
              class="btn btn-danger"
              (click)="deleteSkill(skill.id_skill)"
            >
              <i class="bx bx-trash"></i>
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</main>
