
<!-- Footer-->
<footer class="py-4 mt-auto bg-blue">
  <div class="container px-5">
      <div class="row align-items-center justify-content-between flex-column flex-sm-row">
          <div class="col-auto">
              <div class="small m-0 text-white">Copyright &copy; INTER·VIEWS 2022</div>
          </div>
          <div class="col-auto">
              <a class="link-light small" target="_blank"   href="https://protecciondatos-lopd.com/empresas/politica-de-privacidad-web/#:~:text=La%20pol%C3%ADtica%20de%20privacidad%20de%20una%20p%C3%A1gina%20web%20es%20un,se%20realizar%C3%A1%20de%20los%20mismos.">Privacidad</a>
              <span class="text-white mx-1">&middot;</span>
              <a class="link-light small" target="_blank"  href="https://protecciondatos-lopd.com/empresas/politica-de-privacidad-web/#:~:text=La%20pol%C3%ADtica%20de%20privacidad%20de%20una%20p%C3%A1gina%20web%20es%20un,se%20realizar%C3%A1%20de%20los%20mismos.">Términos</a>
              <span class="text-white mx-1">&middot;</span>
              <a class="link-light small" routerLink="/about" target="_blank"  >Contacto</a>
          </div>
      </div>
  </div>
</footer>
