<app-nav></app-nav>

<!-- Header-->
<header class="py-5">
  <div class="container px-5">
      <div class="row justify-content-center">
          <div class="col-lg-8 col-xxl-6">
              <div class="text-center my-5">
                  <h1 class="fw-bolder mb-3">Nuestra misión es hacer que la creación de sitios web sea más fácil para todos.</h1>
                  <p class="lead fw-normal text-muted mb-4"></p>
              </div>
          </div>
      </div>
  </div>
</header>
<!-- About section one-->
<section class="py-5 bg-light" id="scroll-target">
  <div class="container px-5 my-5">
      <div class="row gx-5 align-items-center">
          <div class="col-lg-6"><img class="img-fluid rounded mb-5 mb-lg-0" src="https://dummyimage.com/600x400/343a40/6c757d" alt="..." /></div>
          <div class="col-lg-6">
              <h2 class="fw-bolder">Nuestra misión</h2>
              <p class="lead fw-normal text-muted mb-0">Lorem ipsum dolor sit amet consectetur adipisicing elit. Iusto est, ut esse a labore aliquam beatae expedita. Blanditiis impedit numquam libero molestiae et fugit cupiditate, quibusdam expedita, maiores eaque quisquam.</p>
          </div>
      </div>
  </div>
</section>
<!-- About section two-->
<section class="py-5">
  <div class="container px-5 my-5">
      <div class="row gx-5 align-items-center">
          <div class="col-lg-6 order-first order-lg-last"><img class="img-fluid rounded mb-5 mb-lg-0" src="https://dummyimage.com/600x400/343a40/6c757d" alt="..." /></div>
          <div class="col-lg-6">
              <h2 class="fw-bolder">Nuestra historia</h2>
              <p class="lead fw-normal text-muted mb-0">Lorem ipsum dolor sit amet consectetur adipisicing elit. Iusto est, ut esse a labore aliquam beatae expedita. Blanditiis impedit numquam libero molestiae et fugit cupiditate, quibusdam expedita, maiores eaque quisquam.</p>
          </div>
      </div>
  </div>
</section>
<!-- Team members section-->
<section class="">
  <div class="container px-5 my-5">
      <div class="text-center">
          <h2 class="fw-bolder">Nuestro equipo</h2>
          <p class="lead fw-normal text-muted mb-5">Dedicados a la calidad y a su éxito</p>
      </div>
      <div class="row gx-5 row-cols-1 row-cols-sm-2 row-cols-xl-4 justify-content-center">
          <div class="col mb-5 mb-5 mb-xl-0">
              <div class="text-center">
                  <img class="img-fluid rounded-circle mb-4 px-4" width="150px" height="150px" src="../../../assets/about/marclopez.jpeg" alt="..." />
                <a class="txt-decoration" href="https://www.linkedin.com/in/marc-lopez-marco/" target="_blank">  <h5 class="fw-bolder">Marc López</h5></a>
                    <div class="fst-italic text-muted">Founder &amp; CEO</div>
                   <p><i class="bi bi-linkedin"></i> <a href="https://www.linkedin.com/in/marc-lopez-marco/" target="_blank"> marc-lopez-marco</a></p>
                </div>
          </div>
          <div class="col mb-5 mb-5 mb-xl-0">
              <div class="text-center">
                  <img class="img-fluid rounded-circle mb-4 px-4" width="150px" height="10px" src="../../../assets/about/eloi.jpeg" alt="..." />
                  <a class="txt-decoration" href="https://www.linkedin.com/in/eloi-martorell-martin/" target="_blank"><h5 class="fw-bolder ">Eloi Martorell</h5></a>
                    <div class="fst-italic text-muted">Founder &amp; CEO</div>
                  <p><i class="bi bi-linkedin"></i> <a href="https://www.linkedin.com/in/eloi-martorell-martin/" target="_blank"> eloi-martorell-martin</a></p>
                </div>
          </div>
          <div class="col mb-5 mb-5 mb-sm-0">
              <div class="text-center">
                  <img class="img-fluid rounded-circle mb-4 px-4" width="150px" height="150px" src="../../../assets/about/borja.gif" alt="..." />
                  <a class="txt-decoration" href="https://www.linkedin.com/in/borja-montseny/" target="_blank"> <h5 class="fw-bolder">Borja Montseny</h5></a>
                  <div class="fst-italic text-muted">Founder &amp; CEO</div>
                 <p><i class="bi bi-linkedin"></i><a href="https://www.linkedin.com/in/borja-montseny/"  target="_blank"> borja-montseny</a></p>
              </div>
          </div>
      </div>
  </div>

  <!-- Testimonial section-->
<div class="py-5 bg-light  bg-blue">
  <div class="container px-5 my-5 ">
    <div class="row gx-5 justify-content-center">
      <div class="col-lg-10 col-xl-7">
        <div class="text-center">
          <div class="d-flex align-items-center justify-content-center">
            <img class="card-img-top" src="../../../assets/imgHome/tsystem.png" style="width: 30px;" alt="tsystem" />            <div class="fw-bold">
              &nbsp;&nbsp;  System

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<app-footer></app-footer>

<!-- Login oculto -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog signin_dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <img src="../../../assets/tyst.png" width="50px" height="100px" alt="logoWeb">
      </div>
      <div class="modal-body signin_modal">
        <ul class="nav nav-tabs" id="myTab" role="tablist">
          <li class="nav-item" role="presentation">
            <button class="nav-link active" id="home-tab" data-bs-toggle="tab" data-bs-target="#signup" type="button"
              role="tab" aria-controls="home" aria-selected="true">Regístrate</button>
          </li>
          <li class="nav-item" role="presentation">
            <button class="nav-link" id="profile-tab" data-bs-toggle="tab" data-bs-target="#signin" type="button"
              role="tab" aria-controls="profile" aria-selected="false">Inicia Sesión</button>
          </li>
        </ul>
        <div class="tab-content signin_tab" id="myTabContent">
          <div class="tab-pane fade show active" id="signup" role="tabpanel" aria-labelledby="home-tab">
            <form>
              <div class="mb-3">
                <input type="text" class="form-control" id="exampleInputText1" aria-describedby="textHelp"
                  placeholder="Usuario">
              </div>
              <div class="mb-3">
                <input type="password" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
                  placeholder="Contraseña">
              </div>
              <div class="mb-3">
                <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Repetir contraseña">
              </div>
              <button type="submit" class="btn btn-primary btn-block btn-width">Crear Cuenta</button>
              <p class="signin_link">¿Ya tienes una cuenta? <a id="profile-tab" data-bs-toggle="tab"
                  data-bs-target="#signin" type="button" role="tab" aria-controls="profile" aria-selected="false">Inicia
                  Sesión</a></p>
            </form>
          </div>
          <div class="tab-pane fade" id="signin" role="tabpanel" aria-labelledby="profile-tab">
            <form>
              <div class="mb-3">
                <input type="text" class="form-control" id="exampleInputText1" aria-describedby="textHelp"
                  placeholder="Usuario">
              </div>
              <div class="">
                <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Contraseña">
              </div><br />
              <button type="submit" class="btn btn-primary btn-block btn-width">Iniciar Sesión</button>
              <p class="signin_link">¿Nuevo en T-Inter·Views? <a id="home-tab" data-bs-toggle="tab"
                  data-bs-target="#signup" type="button" role="tab" aria-controls="home"
                  aria-selected="true">Regístrate</a></p>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
