<div class="container text">
  <!--si no hay una skill que haya sido creada previamente, como es el caso al entrar a la página, se nos muestra el formulario-->
  <!--SKILL-->
  <p class="h3 my-3 titulos">Crear Skill</p>
  <div class="my-3 p-3 bg-body rounded shadow-sm" *ngIf="!isSkillAdded">
    <form>
      <!--TEXT NOMBRE-->
      <div class="form-group row mt-4">
        <label for="nombreSkill" class="col-sm-2 col-form-label align-self-center textos">Nombre:</label>
        <div class="col-sm-10 align-self-center">
          <input type="text" class="form-control" id="nombreSkill" name="skill.nombreSkill"
            placeholder="Introduce el nombre de la Skill" [(ngModel)]="skill.skill_name" />
        </div>
      </div>
      <!--VALIDAR NOMBRE-->
      <!-- Indicará al usuario que no puede dejar el campo vacío-->
      <div *ngIf="validarNombre" class="row my-3">
        <div class="col-sm-2"></div>
        <div class="col-sm-10">
          <p class="h6 text-danger">Introduce un nombre para la Skill.</p>
        </div>
      </div>
      <!--BUTTON-->
      <button class="btn btn-primary mt-4" (click)="addSkill()">Enviar</button>
    </form>
  </div>
  <!--Cuando se añada una skill, aparecerá un mensaje indicandolo con un botón para añadir otra en caso que el usuario así lo quiera-->
  <div class="my-3 p-3 bg-body rounded shadow-sm" *ngIf="isSkillAdded">
    <p class="h3 my-3">Skill añadida correctamente!</p>
    <button class="btn btn-primary mt-4" (click)="newSkill()">
      Crear otra skill
    </button>
  </div>
</div>
