<div class="container text">
  <p class="h3 my-3">Crear HrUser</p>
  <div class="my-3 p-3 bg-body rounded shadow-sm">
    <!--HRUSER-->
    <form>
      <!--TEXT NOMBRE-->
      <div class="form-group row mt-4">
        <label for="username" class="col-sm-2 col-form-label align-self-center"
          >Username:</label
        >
        <div class="col-sm-10 align-self-center">
          <input
            type="text"
            class="form-control"
            id="username"
            name="username"
            placeholder="Introduce un username."
            [(ngModel)]="username"
          />
        </div>
      </div>
      <!--VALIDAR NOMBRE-->
      <div *ngIf="validarUsername == true" class="row my-3">
        <div class="col-sm-2"></div>
        <div class="col-sm-10">
          <p class="h6 text-danger">Introduce un username.</p>
        </div>
      </div>
      <!--BUTTON-->
      <button class="btn btn-primary mt-4" (click)="enviarFormulario()">
        Enviar
      </button>
    </form>
  </div>
</div>
